---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import selfImage from "../assets/self.webp";
---

<Base title="RATIU5 - Biography">
    <main
        class="flex flex-col items-center gap-8 my-4 font-serif leading-loose"
    >
        <Image
            src={selfImage}
            alt="portrait of self"
            class="object-cover rounded-full w-52 h-52"
        />
        <p>
            &emsp;&emsp;Ever since I was 13, I've had a fascination with
            electronics, a passion that only grew when I received my first
            Nintendo Wii console at the age of 14. I was captivated by "New
            Super Mario Bros. Wii" and spent countless hours engrossed in its
            world. My interest took an exciting turn when I discovered "Newer
            Super Mario Bros Wii," a modification of the original game. The idea
            that a game could be altered and customized was a revelation to me,
            and I eagerly dove into learning the tools and programming languages
            necessary for game modding.
        </p>
        <p>
            &emsp;&emsp;However, my curiosity didn't stop there; it expanded
            into other realms of technology. I was drawn to the world of web
            development, eager to understand how websites were built. I delved
            into online resources, teaching myself HTML and CSS for structuring
            and styling web pages, JavaScript for adding interactivity, and PHP
            for server-side rendering of HTML. I soon after delve into Java
            programming, making Minecraft mods and GUI applications. University
            taught me the memory management of C and C++. I realized then that I
            enjoy building tools for others to use and found my passion in
            software engineering.
        </p>
    </main>
</Base>
