---
import Base from "../layouts/Base.astro";
import ArticleCard from "../components/ArticleCard.astro";
---

<Base title="RATIU5 - Blog">
    <main>
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
    </main>
</Base>
