---
import Base from "../layouts/Base.astro"
import ArticleCard from "../components/ArticleCard.astro"
---

<Base title="RATIU5 - Portfolio">
    <main>
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
        <ArticleCard />
    </main>
</Base>
