---
import Base from "../layouts/Base.astro";
---

<Base title="RATIU5 - Portfolio">
	<div class="mx-auto">
		<div class="flex flex-col justify-center items-center w-full h-full mx-auto xs:flex-row">
			<hr class="border-neutral-800 block w-20 sm:w-32 md:w-40 xl:min-w-80" />
			<img src="/profile.png" alt="Profile" class="w-40 h-40 rounded-full my-16 xs:my-0 xs:mx-10 md:w-60 md:h-60" />
			<hr class="border-neutral-800 block w-20 sm:w-32 md:w-40 xl:min-w-80" />
		</div>
		<h1 class="text-neutral-800 text-9xl font-medium font-serif text-center mt-8 opsz">RATIU5</h1>
		<h3 class="text-neutral-800 text-4xl font-light font-serif text-center leading-loose">SOFTWARE ENGINEER</h3>
	</div>
</Base>
