---
import Base from "../layouts/Base.astro";
---

<Base title="RATIU5 - Portfolio">
	<main>
		<div class="mx-auto h-full flex flex-col justify-center md:block">
			<div class="flex flex-col justify-center items-center w-full mx-auto xs:flex-row">
				<hr class="hidden border-neutral-800 xs:block w-20 sm:w-32 md:w-40 xl:min-w-80" />
				<img src="/profile.webp" alt="Profile" class="w-40 h-40 rounded-full my-6 xs:mx-10 md:w-60 md:h-60" />
				<hr class="hidden border-neutral-800 xs:block w-20 sm:w-32 md:w-40 xl:min-w-80" />
			</div>
			<h1 class="text-neutral-800 text-6xl md:text-9xl font-medium font-serif text-center mt-2 md:mt-6 opsz">RATIU5</h1>
			<h2 class="text-neutral-800 text-2xl md:text-4xl font-light font-serif text-center leading-loose">SOFTWARE ENGINEER</h2>
		</div>
	</main>
</Base>
