---
import Base from "../layouts/Base.astro";
import profileImage from "../assets/profile.webp";
import { Image } from "astro:assets";
---

<Base title="RATIU5 - Portfolio">
  <main>
    <div class="flex flex-col justify-center h-full mx-auto md:block">
      <div
        class="flex flex-col items-center justify-center w-full mx-auto xs:flex-row"
      >
        <hr
          class="hidden w-20 border-neutral-800 xs:block sm:w-32 md:w-40 xl:min-w-80"
        />
        <Image
          src={profileImage}
          alt="Profile"
          class="w-40 h-40 my-6 rounded-full xs:mx-10 md:w-60 md:h-60"
        />
        <hr
          class="hidden w-20 border-neutral-800 xs:block sm:w-32 md:w-40 xl:min-w-80"
        />
      </div>
      <h1
        class="mt-2 font-serif text-6xl font-medium text-center text-neutral-800 md:text-9xl md:mt-6 opsz"
      >
        RATIU5
      </h1>
      <h2
        class="font-serif text-2xl font-light leading-loose text-center text-neutral-800 md:text-4xl"
      >
        SOFTWARE ENGINEER
      </h2>
    </div>
  </main>
</Base>
