---
import Base from "../layouts/Base.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Base title="RATIU5 - Portfolio">
    <main class="flex flex-col gap-12 my-4">
        <ProjectCard
            img="/src/assets/shadr-logo-500.webp"
            category="software"
            title="Shadr"
            description="The GLSL Creation App: Create shaders in a node-based environment. (Work in progress)"
            link="https://github.com/RATIU5/shadr"
        />
        <ProjectCard
            img="/src/assets/korbit-mockup-500.webp"
            category="tool"
            title="The Boiler"
            description="Custom command-line tool to generate and manage boilerplates for any project."
            link="https://github.com/RATIU5/theboiler"
        />
        <ProjectCard
            img="/src/assets/brexit-product-500.webp"
            category="tool"
            title="Brexit"
            description="Converts a custom markdown syntax to a styleized HTML output compatible with Canvas LMS."
            link="https://github.com/RATIU5/btech-brexit"
        />
        <ProjectCard
            img="/src/assets/gradapp-mockup-500.webp"
            category="software"
            title="Grad App"
            description="Tracks and manages graduates during graduation. Updates from the database real-time to keep all information up to date."
            link="https://github.com/RATIU5/gradapp"
        />
    </main>
</Base>
