---
import Base from "../layouts/Base.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Base title="RATIU5 - Portfolio">
    <main class="flex flex-col my-4 gap-12">
        <ProjectCard
            img="/src/assets/brexit-product.webp"
            category="project"
            title="Brexit"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
            link="#"
        />
        <ProjectCard
            img="/src/assets/brexit-product.webp"
            category="project"
            title="Brexit"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
            link="#"
        />
        <ProjectCard
            img="/src/assets/brexit-product.webp"
            category="project"
            title="Brexit"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
            link="#"
        />
        <ProjectCard
            img="/src/assets/brexit-product.webp"
            category="project"
            title="Brexit"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
            link="#"
        />
    </main>
</Base>
