---
import {cn} from "../lib/utils";

interface Props {
    href: string;
    target?: string;
    rel?: string;
    class?: string;
} 

const {href, target = "_blank", class: className, rel} = Astro.props;
---

<a href={href} target={target} rel={rel} class={cn("font-serif text-neutral-500 text-base font-thin leading-none hover:text-neutral-700 hover:underline underline-offset-4 active:text-neutral-700 active:underline active:underline-offset-4", className ?? "")}>
    <slot />
</a>