---
import A from "./A.astro";
const { category, title, description, date, time } = Astro.props;    
---

<div class="w-full flex-col justify-start items-start gap-3 flex my-12">
    <span class="text-xs text-neutral-500 tracking-wider">THOUGHTS</span>
    <A href="#" class="font-sans text-2xl font-semibold">Software Development As a Whole is Failing</A>
    <p class="font-serif">Software development, despite its incredible advancements and innovations, is grappling with significant systemic issues. At its core, the industry is facing a crisis...</p>
    <span class="text-xs text-neutral-500 tracking-wider">24 January, 2024 • 6 min</span>
</div>