---
import A from "./A.astro";
const { category, title, description, date, time } = Astro.props;    
---

<div class="flex flex-col items-start justify-start w-full my-12 gap-3">
    <span class="text-xs tracking-wider text-neutral-500">THOUGHTS</span>
    <A href="#" class="font-sans text-2xl font-semibold">Software Development As a Whole is Failing</A>
    <p class="font-serif">Software development, despite its incredible advancements and innovations, is grappling with significant systemic issues. At its core, the industry is facing a crisis...</p>
    <span class="text-xs tracking-wider text-neutral-500">24 January, 2024 • 6 min</span>
</div>