---
import { Icon } from "astro-icon/components";
---

<div class="w-full h-0 md:h-20 relative bg-neutral-100">
    <input type="checkbox" name="checkbox" id="checkbox" class="peer" hidden />
    <label for="checkbox" class="z-50 fixed bg-neutral-100 rounded-full p-2 right-0 bottom-0 m-2 text-neutral-800 block w-20 h-20 select-none transition ease-in-out peer-checked:rotate-90 shadow-lg border border-solid border-neutral-200 peer-checked:shadow-none md:hidden">
        <Icon name="menu" class="w-16 h-16 text-neutral-500" />
        <p class="sr-only">MENU</p>
    </label>
    <div class="-z-10 fixed top-0 left-0 w-screen h-screen opacity-0 scale-110 pointer-events-none peer-checked:pointer-events-auto peer-checked:opacity-100 peer-checked:scale-100 peer-checked:z-10 transition-all ease-in-out md:opacity-100 md:scale-100 md:relative md:h-auto md:w-full md:flex-row md:mt-20 md:pointer-events-auto md:z-10">
        <slot />
    </div>
</div>