---
import { Icon } from 'astro-icon/components';
import A from "./A.astro";

const currentYear = new Date().getFullYear();

const { class: className } = Astro.props;
---

<footer class={className}>
        <hr class="border-neutral-800" />
        <div class="flex flex-col my-4">
            <div class="flex justify-between">
                <div>
                    <ul>
                        <li>
                            <A href="/" class="block my-4">HOME</A>
                        </li>
                        <li>
                            <A href="/articles" class="block my-4">ARTICLES</A>
                        </li>
                        <li>
                            <A href="/articles" class="block my-4">PORTFOLIO</A>
                        </li>
                        <li>
                            <A href="/articles" class="block my-4">CONTACT</A>
                        </li>
                        <li>
                            <A href="/about" class="block my-4">ABOUT</A>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>
                            <A href="/" class="flex items-center my-2">
                                <Icon name="github" class="w-8 h-8 mr-2" />
                                <p>GITHUB</p>
                            </A>
                        </li>
                        <li>
                            <A href="/articles" class="flex items-center my-2">
                                <Icon name="x" class="w-8 h-8 mr-2" />
                                <p>TWITTER</p>
                            </A>
                        </li>
                        <li>
                            <A href="/articles" class="flex items-center my-2">
                                <Icon name="linkedin"  class="w-8 h-8 mr-2" />
                                <p>LINKEDIN</p>
                            </A>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="w-full text-center text-sm text-neutral-400">&copy; RATIU5.DEV {currentYear}</p>
        </div>
</footer>