---
import A from "../components/A.astro";
---

<header>
    <nav class="flex justify-center items-center gap-12">
        <A href="/articles">ARTICLES</A>
        <A href="/portfolio">PORTFOLIO</A>
        <A href="/">
            <img src="/logo.svg" alt="Logo" class="w-20 h-20" />
            <span class="sr-only">HOME</span>
        </A>
        <A href="/contact">CONTACT</A>
        <A href="/about">ABOUT</A>
    </nav>
</header>