<div class="w-full flex flex-col">
  <div class="mx-auto mt-24 w-auto relative flex flex-col">
    <h1 class="font-serif text-5xl text-[#EFF7FF]">Ready to shine?</h1>
    <svg class="ml-[10.5rem] h-3 w-auto" viewBox="0 0 140 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.40234 6.70292C82.9999 -2.21283 139.5 4.28701 139.5 4.28701C139.5 4.28701 75.5 4.28701 2 15.7871" stroke="#FF5B27" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <a href="#" class="group relative cursor-pointer bg-orange-600 hover:bg-orange-500 active:bg-orange-500 text-[#EFF7FF] text-sm pl-3 pr-6 py-2 inline-block mt-8 mx-auto md:inline rounded-lg">
      LET'S GET STARTED
      <span class="absolute top-3.5 -right-3 group-hover:-right-4 group-active:-right-4 transition-all ease-in-out duration-150">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="8" viewBox="0 0 30 8" fill="none">
          <path d="M29.3536 4.35355C29.5488 4.15829 29.5488 3.84171 29.3536 3.64645L26.1716 0.464466C25.9763 0.269204 25.6597 0.269204 25.4645 0.464466C25.2692 0.659728 25.2692 0.976311 25.4645 1.17157L28.2929 4L25.4645 6.82843C25.2692 7.02369 25.2692 7.34027 25.4645 7.53553C25.6597 7.7308 25.9763 7.7308 26.1716 7.53553L29.3536 4.35355ZM0 4.5H29V3.5H0L0 4.5Z" fill="white"/>
        </svg>
      </span>
    </a>
  </div>
  <div class="flex flex-wrap justify-center my-24">
    <div class="w-56 mb-6">
      <h4 class="mb-3 text-lg text-[#EFF7FF] font-light">PAGES</h4>
      <ul class="text-[#9BA7C2] font-light">
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#">SERVICES</a>
        </li>
        <li>
          <a href="#">WORK</a>
        </li>
        <li>
          <a href="#">ABOUT</a>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="w-56 mb-6">
      <h4 class="mb-3 text-lg text-[#EFF7FF] font-light">LATEST PROJECTS</h4>
      <ul class="text-[#9BA7C2] font-light">
        <li>
          <a href="#">Brexit Converter</a>
        </li>
        <li>
          <a href="#">Gradapp</a>
        </li>
        <li>
          <a href="#">Granny Dashboard</a>
        </li>
        <li>
          <a href="#">MCXC Stopwatch</a>
        </li>
      </ul>
    </div>
    <div class="w-56 mb-6">
      <h4 class="mb-3 text-lg text-[#EFF7FF] font-light">SOCIALS</h4>
      <ul class="text-[#9BA7C2] font-light">
        <li>
          <a href="#">LINKEDIN</a>
        </li>
        <li>
          <a href="#">GITHUB</a>
        </li>
        <li>
          <a href="#">TWITTER</a>
        </li>
      </ul>
    </div>
    <div class="w-56 mb-6">
      <h4 class="mb-3 text-lg text-[#EFF7FF] font-light">AVAILABILITY</h4>
      <p class="text-[#9BA7C2] font-light">I usually am working on multiple projects, but am open to working together on something new.</p>
    </div>
  </div>
  <div class="flex flex-col items-center mb-6">
    <p class="text-[#9BA7C2] font-light">&copy; {(new Date()).getFullYear()} ratiu5.dev</p>
    <p class="text-[#9BA7C2] font-light">Made with ❤️ in U.S.A.</p>
  </div>
</div>
