---
import Footer from "../layouts/footer.astro";
const { title } = Astro.props;
import Modal from "../components/modal.svelte";

let showModal = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,400&display=swap" rel="stylesheet">    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" async use:client /> -->
	</head>
	<body class="bg-[#24272E]">
		<Modal showModal={showModal} client:only="svelte">
      <h2 slot="header" class="text-2xl font-semibold text-slate-200 mb-4">Under Construction 🚧</h2>
      <div class="rounded-md my-8">
        <p class="text-[#9BA7C2]">Welcome! This site is a work-in-progress, so not all features and links work. Feel free to check back any time to see updates.</p>
      </div>
    </Modal>
		<header>
      <nav>

      </nav>
	  </header>
	  <main class="bg-[#1D1F25] overflow-hidden">
      <slot />
	  </main>
	  <Footer />
	</body>
</html>
